#sidebar-container {
  /* default for mobile devices */
  /* value for height, width and top change in responsive.css */
  height: 100vh;
  width: 100vw;
  top: 100vh;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--text-icon-color);
  box-shadow: -1px 1px 6px 1px var(--secondary-text-color);
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  background-color: #f8f9fa;
}

.toggle-sidebar-button {
  position: absolute;
  color: var(--accent-color);
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
#toggle-sidebar-button-mobile {
  top: 85vh;
  left: 45vw;
}
/* for devices bigger than mobile.  */
#toggle-sidebar-button {
  /* visibility: hidden; */
  display: none;
  top: 45vh;
  right: 3vw;
}


.toggle-sidebar-button:hover {
  font-size: 18px;
}

#place-list-pane {
  /*-webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;*/
  /*transition: transform 2s ease-in-out;*/

  transition: all 1s ease-out;
  /* display: none; */

}
#place-details-pane {
  display: none;
}

.toggle-side-bar {
/* -webkit-transform: translateX(-40vw);
-moz-transform: translateX(-40vw);
-ms-transform: translateX(-40vw);
-o-transform: translateX(-40vw);
transform: translateX(-40vw); */
-webkit-transform: translateY(-100vh);
-moz-transform: translateY(-100vh);
-moz-transform: translateY(-100vh);
-ms-transform: translateY(-100vh);
-o-transform: translateY(-100vh);
transform: translateY(-100vh);
}

.animate-toggle-sidebar-button {
  /* -webkit-transform: translateX(-40vw) rotateZ(-180deg);
  -moz-transform: translateX(-40vw) rotateZ(-180deg);
  -ms-transform: translateX(-40vw) rotateZ(-180deg);
  -o-transform: translateX(-40vw) rotateZ(-180deg);
  transform: translateX(-40vw) rotateZ(-180deg); */
  -webkit-transform: translateY(-85vh) rotateZ(-180deg);
  -moz-transform: translateY(-85vh) rotateZ(-180deg);
  -ms-transform: translateY(-85vh) rotateZ(-180deg);
  -o-transform: translateY(-85vh) rotateZ(-180deg);
  transform: translateY(-85vh) rotateZ(-180deg);
}

.sidebar-nav {
  background-color: var(--primary-color);
  height: 8vh;
  line-height: 8vh;
  vertical-align: middle;
  color: var(--text-icon-color);
  text-align: center;
}

#sidebar-nav-close-button, #sidebar-nav-place-details-back-button, #sidebar-nav-place-review-back-button {
  padding-left: 0.5em;
  cursor: pointer;
  font-size: 4vh;
  line-height: 8vh;
  float: left;
}

#sidebar-nav-close-button:hover, #sidebar-nav-place-details-back-button:hover, #sidebar-nav-place-review-back-button:hover {
  color: var(--accent-color);
}

.sidebar-nav-title {
  font-size: 4vh;
}
.sidebar-error-message {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    padding: 2em;
    color: var(--dark-primary-color);
}
.sidebar-card {
  margin: 0.3em 0.3em;
  box-shadow: 0.5px 0.5px 1px 0.5px #bdbdbd57;
  background-color: var(--text-icon-color)
}

#sidebar-container .card-title {
  margin-bottom: 0;
  color: var(--primary-text-color);

  /* truncate text */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-card-header a:hover {
  text-decoration: none;
}

#sidebar-container .card-title:hover{
  color: var(--secondary-text-color);
}

#sidebar-container .card-text {
  margin-bottom: 0;
  font-size: 2.4vh;
  color: var(--secondary-text-color);
}

#sidebar-container .card-place-type {
  color: var(--primary-color);
}

#sidebar-container .card-rating {
  margin-bottom: 0;
  color: #e7711b;
}

.hr-card-title {
  margin: 2px 0px 10px 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


#sidebar-container .card-image {
  width: 100px;
  height: 100px;
}

.sidebar-icons {
  padding-right: 0.5em;
  color: var(--primary-color);
  margin-top: 1em;
}

.sidebar-close-now-label {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: var(--accent-color);
}

.sidebar-card-more-info-button {
  margin-top: 1em;
  color: var(--primary-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--primary-color);
}

.sidebar-card-more-info-button:hover {
  cursor: pointer;
  color: var(--accent-color);
  border-color: : var(--accent-color)
}

.carousel-image {
  height: 300px;
}

.section-rating-line-context-divider {
    font-weight: bold;
}

.sidebar-card-place-details-icons {
  color: var(--primary-color);
  padding-right: 0.5em;
}

.website-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-reviews-button {
  margin-top: 1em;
  color: var(--primary-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--primary-color);
}
.read-reviews-button:hover {
  cursor: pointer;
  color: var(--accent-color);
  border-color: : var(--accent-color)
}

/* place reviews */
#place-reviews-pane {
  display: none;
}
.place-list-container, .place-details-container, .place-reviews-container {
  height: 92vh;
  overflow-y: auto;
}
#reviews-heading {
  /* text-align: center; */
  padding: 1em 0 0 1em;
  margin-bottom: 0;
}
#reviews-sub-heading {
  padding-left: 1.5em
}
.section-review {
    font-size: 13px;
    padding: 0 0 16px 24px;
    page-break-inside: avoid;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
}
.section-review-content {
    position: relative;
}

.section-write-review {
  font-size: 18px;
  padding-left: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 1px solid var(--divider-color);
}
.section-write-review a {
  color: var(--primary-color);
}
.section-write-review p {
  margin-bottom: 0.5em;
}
.section-write-review p i {
    padding-right: 0.5em;
}
.reviews-author-img{
  height: 36px;
  width: 36px;
  background-size: cover;
  background-image: url("http://maps.gstatic.com/tactile/omnibox/anonymous_v3.png");
  background-position: center;
  border-radius: 50%;
  position: absolute;
}


.section-review-line-with-indent {
    margin-left: 48px;
}


.section-review-line {
    padding-right: 24px;
    line-height: 19px;
    min-height: 40px;
}

.section-review-line-with-indented-border {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}
.section-review-titles {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 36px;
    line-height: 17px;
    margin-bottom: 0.5em;
}
.section-review-titles a {
    color: inherit;
}
.section-review-title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.section-review-subtitle {
    color: rgba(0, 0, 0, 0.54);
}
.section-review-rating-with-note{
  display: block;
  margin: 10px 5px 0 0;
}
.section-review-stars {
    font-size: 14px;
}
.section-review-publish-date {
    color: rgba(0, 0, 0, 0.54);
}
.section-review-text {
    line-height: 1.5;
    white-space: pre-wrap;
}
