:root {
  /* color palate from: https://www.materialpalette.com/indigo/pink */
  --dark-primary-color: #303F9F;
  --primary-color: #3F51B5;
  --light-primary-color: #C5CAE9;
  --text-icon-color:#FFFFFF;
  --primary-text-color:#212121;
  --secondary-text-color:#757575;
  --divider-color: #BDBDBD;
  --accent-color: #FF4081;
}



html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 100vh;
  width: 100vw
}
#toggle-full-screen-btn {
    position: absolute;
    z-index: 3;
    right: 5vw;
    top: calc(5vh + 65px);
    color: var(--dark-primary-color);
    background-color: var(--text-icon-color);
    border-color: var(--primary-color);
}
#toggle-full-screen-btn:hover {
  cursor: pointer;
  color: var(--accent-color);
  border-color: : var(--accent-color);
}
.blur {
  opacity: 0.5;
}
.avoid-clicks {
  pointer-events: none;
}
/*overiding pac-container default styles -
  https://developers.google.com/maps/documentation/javascript/places-autocomplete#style_autocomplete */
.pac-container {
  width: 90vw !important;
  left: 5vw !important;
}

#pac-input {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

#info-content {
}

table {
  font-size: 12px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
