html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 100vh;
  width: 100vw
}

/*overiding pac-container default styles -
  https://developers.google.com/maps/documentation/javascript/places-autocomplete#style_autocomplete */
.pac-container {
  width: 90vw !important;
  left: 5vw !important;
}

#pac-input {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

#info-content {
}

table {
  font-size: 12px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
